<div class="container-all">
    <aside class="image-container">
        <div class="image triangle">
            <img src="../../assets/images/triangle-strange.png" alt="">
        </div>
        <div class="image bubble bubble-1">
            <img src="../../assets/images/bubble-gif1.gif" alt="" class="bubble">
        </div>
        <div class="image bubble bubble-2">
            <img src="../../assets/images/bubble-gif1.gif" alt="" class="bubble">
        </div>
        <div class="image bubble bubble-3">
            <img src="../../assets/images/bubble-gif1.gif" alt="" class="bubble">
        </div>
        <div class="image fish fish-1">
            <img src="../../assets/images/fish-cartoon.png" alt="" class="bubble">
        </div>
        <div class="image fish fish-2">
            <img src="../../assets/images/fish-cartoon.png" alt="" class="bubble">
        </div>
        <div class="image fish fish-3">
            <img src="../../assets/images/fish-cartoon.png" alt="" class="bubble">
        </div>
        <div class="image plant plant-1">
            <img src="../../assets/images/cfb0cef3-f97b-477a-8ec7-d02f3ae81962.png" alt="" class="bubble">
        </div>
        <div class="image plant plant-2">
            <img src="../../assets/images/cfb0cef3-f97b-477a-8ec7-d02f3ae81962.png" alt="" class="bubble">
        </div>
        <div class="image cofre">
            <img src="../../assets/images/tesoro.png" alt="" class="bubble">
        </div>
    </aside>
</div>
