<div class="container-all">
    <div class="container-images">
            <div class="rock rock-1">
                <img src="../../../assets/images/bedrock-1.png" alt="">
            </div>
            <div class="rock rock-2">
                <img src="../../../assets/images/bedrock-2.png" alt="">
            </div>
            <div class="rock rock-3">
                <img src="../../../assets/images/bedrock-3.png" alt="">
            </div>
            <div class="rock rock-4">
                <img src="../../../assets/images/bedrock-4.png" alt="">
            </div>
            <div class="submarine">
                <img src="../../../assets/images/submarine.png" alt="">
            </div>
    </div>
    <form>
        <h2>{{question?.name}}</h2>
        <legend>
            {{question?.question}}
        </legend>
        <ul>
            <li *ngFor="let item of question?.responses; let i = index">
                <button [ngClass]="{'isSelected' : i==this.indexResponse}" type="button" (click)="ChangeIndexResponse(i)">{{item}}</button>
            </li>
        </ul>
        <input class="submit-button" type="submit" value="SIGUIENTE">
        <img class="bk-image" src="../../../assets/images/background-bottom.png" alt="">
    </form>
</div>