.container-all{
    /* background-image: linear-gradient(-225deg, #5753C9 0%, #6E7FF3 100%); */
    width: 100%;
    height: 100%;
    padding: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    color: #e7f306;
    font-weight: 900;
    font-size: 200%;
    filter: sepia();
    position: relative;
    z-index: 2;
}
.container-all>.container-images{
    /* background-color: #444; */
    max-width: 60rem;
}
.container-images{
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: end;
}
ul{
    list-style:none;
}

form{
    width: 80%;
    /* background-color: #444; */
    position: relative;
    max-width: 40rem;
    /* overflow: hidden; */
}

form{
    flex-direction: column;
    justify-content: center;
    display: flex;
    /* align-content: center; */
    justify-content: center;
    align-items:center; 
    justify-content: center;
    gap:2rem;
    padding: 2rem;
}
form>*{
    /* background-color: #444; */
    flex: 0 1 0rem;
}
form>ul{
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    flex-wrap: wrap;
}
ul>*{
    flex:0 1 10rem;
    padding: 1rem;
}
li>button{
    background-color: transparent;
    padding: 5% 10%;
    width: 100%;
    height: 100%;
    border: 1.5px solid #fff;
    color: #fff;
    transition: transform .5s;
}
.submit-button{
    position: relative;
    z-index: 2;
    padding: .5rem 1rem;
    background-color: #6E7FF3;
    color: #fff;
    border: 1.5px solid #fff;
    border-radius: 2px;
    font-weight: 900;
    transition: background-color .5s, color .5s, transform .5s;
}
.submit-button:hover{
    background-color: #fff;
    color: #6E7FF3;
    transform: scale(1.1);
}
legend{
    background-color: #44444468;
    padding: 1rem;
    border-radius: 4px;
    position: relative;
    z-index: 2;
    text-align: center;
    color: #6E7FF3;
    font-weight: 800;
    max-width: 80%;
    /* font-size: 90%; */
    
}
form>.bk-image{
    position: absolute;
    width:100%;
    height: 100%;
    /* height: 200%; */
    top: 0;
    left: 0;
    right: 0;
    /* bottom: -280%; */
    z-index: 0;
    margin: auto;
    animation:  TR-translatePosition-2 5s ease-in-out infinite;
}
.rock{
    max-width: 12%;
    position: absolute;
    animation:  TR-translatePosition 5s ease-in-out infinite;
}
.rock-1{
    right:10%;
    max-width: 16%;
    filter: sepia();

}
.rock-2{
    max-width: 25%;
    right: 20%;
    top: 0;
}
.rock-3{
    max-width: 6%;
    left: 10%;
}
.rock-4{
    top: 0;
    left: 30%;
    filter: sepia();
}
.submarine{
    position: absolute;
    max-width: 12%;
    bottom: 30%;
    animation:  FS-translatePosition 5s ease-in-out infinite;
}
ul{
    position: relative;
    z-index: 2;
    /* background-color: #444; */
    max-width: 80%;
    align-content: center;
}

li>button{
    max-width: 100%;

}
li>button:hover, li>button:focus{
    transform: scale(0.9);
}
li>.isSelected{
    background-color: #fff;
    color: #6E7FF3;
}

.container-images{
    height: 18rem;
    width: 80%;
    max-width: 40rem;
    /* max-height: 20rem; */
    /* background-color: #222; */
}
@media screen and (max-width:700px) {
    .container-all{
        padding: 2rem 1rem;
    }
    h2{
        font-size: 8vmin;
    }
    button, li, input{
        font-size: 3vmin !important;
    }
    legend{
        font-size: 3vmin;
    }
    .container-all{
        justify-content: start;
    }
    .submarine{
        max-width: 20%;
    }
    .container-images{
        height: 10rem;
    }
}
@keyframes TR-translatePosition {
    0% { transform: translateX(-20px); }
    50% { transform: translateX(20px); } /* El objeto baja 200px */
    100% { transform: translateX(-20px); } /* Regresa a la posición original */
}
@keyframes TR-translatePosition-2 {
    0% { transform: translateY(-5px); }
    50% { transform: translateY(20px); } /* El objeto baja 200px */
    100% { transform: translateY(-5px); } /* Regresa a la posición original */
}
@keyframes ALG-translatePosition {
    0% { transform: translateY(0) rotate(0deg); }
    25% { transform: translateY(15px) rotate(-5deg); }
    50% { transform: translateY(30px) rotate(5deg); }
    75% { transform: translateY(15px) rotate(-5deg); }
    100% { transform: translateY(0) rotate(0deg); }
}
@keyframes FS-translatePosition {
    0% { transform: translateY(0) rotate(2deg); }
    25% { transform: translateY(10px) rotate(-2deg); }
    50% { transform: translateY(0) rotate(2deg); }
    75% { transform: translateY(10px) rotate(-2deg); }
    100% { transform: translateY(0) rotate(2deg); }  
}
