<section>
        <div class="section">
            <aside>
                <p>Puntaje: 0</p>
            </aside>
            <main>
                <h3>Pregunta: 1/10</h3>
                <form>
                    <fieldset>
                        <legend>¿La revista Rastros Rostros es una revista?</legend>
                        <input type="button" value="A">
                        <input type="button" value="A">
                        <input type="button" value="A">
                        <input type="button" value="A">

                    </fieldset>
                </form>
            </main>
        </div>
</section>
